section{
  margin-left: 6rem;
  margin-right: 6rem;
  ngx-slick {
    div {
      //height: 20vh;
      margin-right: 2rem;
      list-style: none;
      display: grid;
      padding-right: 4px;
      width: 22%;
      justify-content: space-between;
      border: black 3px;
      margin-bottom: 1%;


      h1 {
        display: none;
        width: 300px;
        height: 60px;
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 1.5rem;
        align-content: center;
        position: relative;
        bottom: 1em;
      }

      img {
        box-sizing: content-box;
        width: auto;
        height: 231px;
      }

      button {
        border-radius: 30px;
        margin: 20px;
        font-size: 1.2rem;
        width: 100px;
      }

      button:hover {
        background-color: #9c9c9c;
        color: #ffffff;
        transform: scale(1.1);
        transition: 0.3s;
      }

      a {
        cursor: pointer;
        width: auto;
      }
      a:hover{
        transform: scale(1.1);
        transition: 0.3s;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  section{
    width: 90%;
    ngx-slick {
      div {
        width: 90%;

        img {

        }
      }
    }
  }
}
