<app-preview-pelis></app-preview-pelis>

<!--<section>-->
<!--  <div class="contenedorcarousel">-->
<!--    <h1>Comedia</h1>-->
<!--    <app-sliders [arrayPelis]="peliculas" (detalles)="irPelis($event)" ></app-sliders>-->
<!--    <h1>Romanticas</h1>-->
<!--    <app-sliders [arrayPelis]="romance" (detalles)="irPelis($event)"></app-sliders>-->
<!--    <h1>Ciencia Ficción</h1>-->
<!--    <app-sliders [arrayPelis]="comedia" (detalles)="irPelis($event)"></app-sliders>-->
<!--    <h1>Acción</h1>-->
<!--    <app-sliders [arrayPelis]="accion" (detalles)="irPelis($event)"></app-sliders>-->
<!--    <h1>Suspenso</h1>-->
<!--    <app-sliders [arrayPelis]="horror" (detalles)="irPelis($event)"></app-sliders>-->
<!--  </div>-->
<!--</section>-->
