<div class="login-box">
        
        <h1>Iniciar sesion</h1>
        <form>
          <!-- USERNAME INPUT -->
          <label for="Username" class="Username">Username</label>
          <input type="text" placeholder="Correo electronico">
          <!-- PASSWORD INPUT -->
          <label for="password">Contraseña</label>
          <input type="password" placeholder="Contraseña">
          <input type="submit" value="Iniciar sesion">
          <a href="https://www.netflix.com/es/LoginHelp">Lost your Password ?</a><br>
          <a href="https://media.netflix.com/es/register">Don't have an account ?</a>
        </form>
      </div> 