section{
  margin-left: 6rem;
  margin-right: 6rem;
  ngx-slick {
    div {
      position: relative;
      margin-right: 2rem;
      list-style: none;
      display: grid;
      padding-right: 4px;
      width: 22%;
      justify-content: space-between;
      border: black 3px;
      margin-bottom: 1%;

      img {
        box-sizing: content-box;
        width: auto;
        height: 231px;
      }

      a {
        cursor: pointer;
        width: auto;
      }
      a:hover{
        transform: scale(1.1);
        transition: 0.3s;
      }
      span.basura i {
        position: absolute;
        font-size: 2.5em;
        padding-right: 2em;
        cursor: pointer;
        left: 0;
        bottom: 0;
        color: white;
        transition: 0.3s;
      }
      span.basura i:hover {
        color: rgb(255, 107, 3);
      }
    }
  }
}
@media screen and (max-width: 480px) {
  section{
    width: 90%;
    ngx-slick {
      div {
        width: 90%;

        img {

        }
      }
    }
  }
}
