
body {
  background-color: #111;
}
section{
  background-color: transparentize(#484848,0.35);
  padding: 8% 5% 5% 5%;

  h2 {
    padding-left: 2%;
    color: rgb(255, 107, 3);
    font-family: Roboto;
    letter-spacing: 2px;
    font-size: 3rem;
  }
  a.add {
    display: block;
    width: 15%;
    margin: 2rem 0;
    cursor: pointer;
    background: rgba(212, 207, 207, 0.25);
    padding: 12px 25px;
    border: 1px solid #dddddd;
    text-decoration: none;
    color: #eee;
    font-size: 1.3rem;
    letter-spacing: 0.05em;
    font-weight: lighter;
    z-index: 2;
    text-transform: uppercase;
  }
  a.add:hover{
    background: rgba(212, 207, 207, 0.45);
  }
  div{
    background-position: center;
    img{
      float: left;
      margin: 2%;
    }
    div.peliculas1 {

      background-blend-mode: multiply;

      p {
        font-family: Roboto;
        letter-spacing: 2px;
        font-size: 2rem;
        color: white;
        padding: 1rem;
      }

      p.info {
        font-family: Roboto;
        letter-spacing: 2px;
        font-size: 1.6rem;
        padding: 1.2rem;


        a {
          text-decoration: none;
          color: white;
          font-size: inherit;
        }

        span.basura i {
          font-size: 2.5em;
          padding-right: 2em;
          cursor: pointer;
        }

      }
      p.info a:hover {
        color: antiquewhite;
      }

    }
  }
}
