<section class="detalles">

    <div class="peliculas1" >

      <div>
        <h2 class="peliculas__titulo">Añadir Película</h2>

        <form (ngSubmit)="guardar(userForm)" #userForm="ngForm">
          <div>
            <label for="titulo">Titulo</label>
            <input name="titulo" class="form-control mr-sm-2"  placeholder="Introduce Título" value=""  ngModel>
          </div>

          <div>
            <label for="Sinopsis">Sinopsis</label>
            <textarea name="sinopsis" placeholder="Introduce Sinopsis de la película" value=""  ngModel></textarea>
          </div>

          <div>
            <label for="path_poster">Path Imagen Poster</label>
            <input name="path_poster" class="form-control mr-sm-2"  placeholder="Introduce el Path de la Imagen Poster" value=""  ngModel>
          </div>

          <div>
            <label for="backdrop_path">Path Imagen Backdrop</label>
            <input name="backdrop_path" class="form-control mr-sm-2"  placeholder="Introduce el Path de la Imagen de fondo" value=""  ngModel>
          </div>


          <p class="peliculas__desc">
            <button type="submit" class="editar" >Añadir Película</button>
          </p>
        </form>

      </div>
    </div>


</section>
