section{

      div.divPreview{
        width: 100vw;
        height: 50vw;
        overflow: hidden;
        display: flex;
            iframe{
                width: 150%;
                height: 150%;

            }
       }

}
