section{
      div {

          div.divPreview {
            transform: scale(1.1);
            width: 100vw;
            height: 40vw;
            overflow: hidden;

            iframe {
              width: 100%;
              height: 100%;
            }
          }
      }
}
