
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>

  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>

<body>
  <footer>

    <div class="container-footer-all">

      <div class="container-body">

        <div class="colum1">
          <h1>Tecnologías Aplicadas</h1>

          <ul>
            <img src="../../assets/img/5847ea22cef1014c0b5e4833.png">

            <img src="../../assets/img/nodejs.png">

            <img src="../../assets/img/mongodb.png">

          </ul>

        </div>

        <div class="colum2">

          <h1>Redes Sociales</h1>

          <div class="row">
          <a href="https://es-es.facebook.com/" target="_blank">  <img src="../../assets/img/facebook2.png"></a>
            <label>Siguenos en Facebook</label>
          </div>
          <div class="row">
           <a href="https://twitter.com/?lang=es"target="_blank"> <img src="../../assets/img/twitter2.png"></a>
            <label>Siguenos en Twitter</label>
          </div>
          <div class="row">
          <a href="https://www.instagram.com/?hl=es"target="_blank"><img src="../../assets/img/instagram2.png"></a>
            <label>Siguenos en Instagram</label>
          </div>
          <div class="row">
           <a href="https://support.google.com/plus/?hl=en#topic=9259565"target="_blank"> <img src="../../assets/img/google-plus2.png"></a>
            <label>Siguenos en Google Plus</label>
          </div>
          <div class="row">
          <a href="https://www.pinterest.es/"target="_blank">  <img src="../../assets/img/pinterest2.png"></a>
            <label>Siguenos en Pinterest</label>
          </div>


        </div>

        <div class="colum3">

          <h1>Información Contactos</h1>

          <div class="row2">
            <img src="../../assets/img/contact2.png">
            <label>España
              Calle Orense, #67, Madrid
              </label>
          </div>

          <div class="row2">
            <img src="../../assets/img/smartphone2.png">
            <label>0034-829-395-2064</label>
          </div>

          <div class="row2">
            <img src="../../assets/img/contact2.png">
            <label>Alpha@gmail.com</label>
          </div>

        </div>

      </div>

    </div>

    <div class="container-footer">
      <div class="footer">
        <div class="copyright">
          © 2019 Todos los Derechos Reservados | <a href="/home">Alpha</a> | Creador por:  Aquiles Delgado, Alejandro Jiménez, Gonzalo Añoz, Cesar Minyetty.
        </div>

        <div class="information">
          <a href="/home">Informacion Compañia</a> | <a href="/home">Privacion y Politica</a> | <a href="/home">Terminos y
            Condiciones</a>
        </div>
      </div>

    </div>

  </footer>

</body>

</html>
